{% extends 'index.html' %}
{% load static %}

{% block title %}
    Contact
{% endblock %}
{% block content %}
  <!-- Main Section -->
    <div class="container">
      <h3 class="heading font-weight-light">Here are your contacts</h3>
      <hr />
    </div>
    <div class="container main-part">
    {% if contacts %}
    {% for contact in contacts %}
{% include 'partials/contact_card.html' %}
        {% endfor %}
    {% else %}
    <p class="d-block">No Contacts</p>
    {% endif %}
    </div>
    <!-- Main Section ends-->

{% endblock %}