{#{% extends 'card_footer.html' %}#}
{#{% block title %}#}
{#    Login#}
{#{% endblock %}#}
{##}
{#{% block card_title %}#}
{#    Login#}
{#{% endblock %}#}
{#{% block form %}#}
{#     <form method="post" class="offset-md-3" novalidate>#}
{#                    {% csrf_token %}#}
{#         <input type="hidden" name="next" value="{{ next }}">#}
{#                    {% include 'includes/form.html' %}#}
{#            <div class="col text-center">#}
{#                    <button type="submit" class="btn btn-secondary btn-lg mx-2">#}
{#                        Login</button>#}
{#                </div>#}
{#                </form>#}
{#{% endblock %}#}
{##}
{#{% block card_footer_content %}#}
{#Create new Account? <a href="{% url 'register' %}">Signup</a>#}
{#{% endblock %}#}
{##}



{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="heading font-weight-light text-center">Login</h2>
        <hr />
    </div>
    <div class="container w-25 card p-4 mt-4">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Login" class="w-100 text-white text-center my-3 btn btn-info btn-lg">

            </form>
        </div>
        <div class="card-footer text-center text-muted">
            Create new Account? <a href="{% url 'register' %}">Signup</a>
        </div>
    </div>
{% endblock %}